numpy~=1.20.0
pandas~=1.2.5
anndata~=0.8.0
scanpy~=1.9.3
matplotlib~=3.4.2
argparse~=1.4.0
pathlib~=1.0.1
torch~=1.10.1+cu113
scipy~=1.6.3
sklearn~=0.0
scikit-learn~=0.24.2
lifelines~=0.27.4
openpyxl~=3.0.9
torchvision~=0.11.2
tables~=3.8.0
pillow~=8.4.0
torch-cluster
torch-geometric==2.2.0
torch-scatter
torch-sparse
